<header>
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">
        <img src="/assets/images/logo.png" alt="Logo">
      </a>
    </div>

    <div class="right-section">
      
      <div class="top-bar">
        <div class="social">
          <a href="#"><i class="fab fa-tiktok"></i> Tiktok</a> |
          <a href="#"><i class="fab fa-facebook"></i> Facebook</a> |
          <a href="#"><i class="fas fa-comment"></i> Zalo</a> |
          <a href="#"><i class="fab fa-youtube"></i> Youtube</a> |
        </div>

        <div class="actions">
          <a href="#" class="btn-outline">
            <i class="fas fa-user"></i> Đăng ký
          </a>
          <a href="#" class="btn-outline">
            <i class="fas fa-right-from-bracket"></i> Đăng nhập
          </a>

          <div class="lang">
            <div class="lang-selected">
              <img src="https://flagcdn.com/w20/vn.png" alt="VN">
              <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="lang-menu">
              <a href="#"><img src="https://flagcdn.com/w20/vn.png"> Tiếng Việt</a>
              <a href="#"><img src="https://flagcdn.com/w20/us.png"> English</a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-bar">
        <div class="hotline">
          <i class="fas fa-headset"></i>
          <div>
            Hỗ trợ đặt khám <br>
            <span>1900 2005</span>
          </div>
        </div>

        <nav>
          <div class="dropdown">
            <a href="#">
              Cơ sở y tế 
              <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu">
              <a href="#">Bệnh viện công</a>
              <a href="#">Bệnh viện tư</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#">
              Dịch vụ y tế 
              <i class="fas fa-caret-down"></i>
            </a>
           <div class="dropdown-menu">
            <a routerLink="/pages/DVYT/dkbs" routerLinkActive="active">Đặt khám theo bác sĩ</a>
            <a routerLink="/pages/DVYT/dkck" routerLinkActive="active">Đặt khám chuyên khoa</a>
            <a routerLink="/pages/DVYT/dkcs" routerLinkActive="active">Đặt khám tại cơ sở</a>
            <a routerLink="/pages/DVYT/dkng" routerLinkActive="active">Đặt khám ngoài giờ</a>
            <a routerLink="/pages/DVYT/ttvp" routerLinkActive="active">Thanh toán viện phí</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#">
              Hướng dẫn 
              <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu">
              <a routerLink="/pages/cdud" routerLinkActive="active">Cài đặt ứng dụng</a>
              <a routerLink="/pages/qthp" routerLinkActive="active">Quy trình hoàn phí</a>
              <a routerLink="/pages/chtg" routerLinkActive="active">Câu hỏi thường gặp</a>
              <a routerLink="/pages/qtdk" routerLinkActive="active">Quy trình đi khám</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#">
              Liên hệ hợp tác <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu">
              <a routerLink="/pages/csyt" routerLinkActive="active">Cơ sở y tế</a>
              <a routerLink="/pages/qc" routerLinkActive="active">Quảng cáo</a>
              <a routerLink="/pages/LH/td" routerLinkActive="active">Tuyển dụng</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="notice">
    <div class="marquee">
      <span>
        <i class="fas fa-bullhorn"></i>
         Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
        </span>
      <span>
        <i class="fas fa-bullhorn"></i> 
        Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
      </span>
      <span>
        <i class="fas fa-bullhorn"></i> 
        Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
      </span>
      <span>
        <i class="fas fa-bullhorn"></i> 
        Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
      </span>
      <span>
        <i class="fas fa-bullhorn"></i> 
        Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
      </span>
      <span>
        <i class="fas fa-bullhorn"></i> 
        Đặt ngay Trợ Lý Giúp Việc để người thân luôn được chăm sóc khi đi khám bệnh
      </span>
    </div>
  </div>
</header>